.about__main{
    width: 100%;
    height: 90vh;
    background-color: #232339;
}

.about__img img{
    height: auto;
    width: 100%;
    padding: 0 30px;
    margin-top: 29%;
    /* margin-bottom: 30%; */
  }

.about__text h1{
    margin-top: 25%;
    color: white;
    margin-bottom: 20px;
    font-size: 56px;
    font-weight: 400;
}

.about__text p{
    color: rgb(180, 178, 178);
    line-height: 23px;
}

.skill__details {
    font-size: 21px;
}

.skill__points{
    font-size: 19px;
}

/* skill icons */
.skill__icons{
    color: white;
}

.skill__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
  }

.skill__text{
    margin-bottom: 30%;
}
