.about__main{
    background-color: #232339;
}

.about__img img{
    height: auto;
    width: 100%;
    padding: 0 30px;
    margin-top: 90px;
    margin-bottom: 70px;
  }

.about__text h1{
    margin-top: 30%;
    color: white;
    margin-bottom: 20px;
    font-size: 56px;
    font-weight: 400;
}

.about__text p{
    color: rgb(180, 178, 178);
}

.skill__details {
    font-size: 21px;
}

.skill__points{
    font-size: 19px;
}

/* skill icons */
.skill__icons{
    color: white;
}

.skill__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
  }
