.header {
    width: 100%;
    height: 120vh;
    background: url('/src/images/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
  }

.row {
    display: flex;
    width: 100%;
  }

.header__content{
    /* display: flex; */
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    margin-top: 30%;
  }

  .header__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
  }

  #facebook{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-right: 10px;
    margin-left: 0;
    background-color: #064291;
  }

  #insta{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 15px;
    background-color: rgb(207, 42, 119);
  }

  #linkedIn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 15px;
    background-color: rgb(42, 103, 153);
  }

  #github{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 15px;
    background-color: rgb(27, 27, 27);
  }

  .header__ul li a{
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
  }
  
  .header__content h1{
    font-size: 50px;
    /* font-weight: 500; */
    margin-bottom: 20px;
    /* line-height: 1.1; */
  }
  
  .header__content p{
    font-weight: 300;
    margin-bottom: 30px;
    color: #cecccc;
    font-size: 25px;
    line-height: 40px;
  }
  
  .btn{
    outline: none;
    border: none;
    color: rgb(192, 189, 189);
    text-decoration: none;
    margin-top: 20px;
  }
  
  .btn-smart{
    border: 2px solid #6e42c6;
    padding: 13px 20px;
    border-radius: 50px;
  }
  
  .play{
    font-size: 18px;
    margin-left: 5px;
  }

  .banner__img img{
    height: auto;
    width: 100%;
    padding: 0 30px;
    margin-top: 150px;
  }