.header {
    width: 100%;
    height: 100vh;
    background: url('/src/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
  }

.row {
    display: flex;
    width: 100%;
  }

.header__content{
    /* display: flex; */
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    margin-top: 35%;
  }

  .header__ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
  }
  
  .header__ul li{
    width: 50px;
    height: 50px;
    border: 3px solid #6e42c6;
    border-radius: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;  /* horizontally */
    margin: 0 15px;
  }

  .header__ul li a{
    text-decoration: none;
    color: white;
  }

  .header__ul li:first-child{
    margin-left: 0px;
  }
  
  .header__content h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  .header__content p{
    font-size: 26px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 50px;
  }
  
  .btn{
    outline: none;
    border: none;
    color: white;
    text-decoration: none;
    margin-top: 20px;
  }
  
  /* .btn-outline{
    border: 2px solid #6e42c6;
    border-radius: 50px;
    padding:  13px 40px;
  } */
  
  .btn-smart{
    background: #6e42c6;
    padding: 13px 20px;
    border-radius: 50px;
  }
  
  .play{
    font-size: 18px;
    margin-left: 5px;
  }